
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500&family=Playfair+Display:wght@400;500&family=Roboto:wght@100;300;400;500&display=swap');
.home_about
{
    width: 100%;
     background-color: blue;
    height: 85.5vh;
    display: flex;
    background-image: url("/src/images/dask1.jpg");
    background-size: cover;
    /* background-color: rgb(241, 247, 246); */
}

.leftabout
{
    width: 50%;
    height: 85.5vh;
     /* background-color: rgb(13, 140, 251); */
     position: relative; 
}

.rightabout
{
    width: 70%;
    height: 85.5vh;
     /* background-color: rgb(239, 220, 9);  */

}
.center_about
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my_pic_about{
     /* border: 10px solid white; */    
    /* padding: 30px;
    background-color: brown;  */  
     margin-top: 100px;
    
}

.hk{
border: 10px solid rgb(255, 255, 255);
height: 350px;
    width: 500px;
    padding: 30px;
    background-color:rgb(203, 145, 145); 
    position: absolute; 
    margin-left: 180px; 
    box-shadow: #05b619;
    margin-top: 100px;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hr{ border: 10px solid white;
    height: 300px;
    width: 450px;
    padding: 30px;
    background-color: rgb(249, 101, 3); 
    position: absolute; 
    margin-left: 120px;
    box-shadow: black;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.aboutbutton
{
    width: 150px;
    background-color: rgb(240, 57, 7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: 'poppins', sans-serif; 
    font-weight: 500;
    margin-top: 10px;
    height: 30px;
    margin-top: 20px;
}
.imageby{
    margin-top: 50px;
}

.leader
{
 font-size: 32px;   
 font-family: 'Playfair Display', serif;
 font-weight: 600;
}

.because
{
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}